nav{
margin-top:5px;
}

nav a{
margin:5px;
letter-spacing:1px;
font-size:12px;
}

.actions ul li a{
text-decoration:none;
word-spacing:-10px;
margin-left:5px;
display:inline;
}


.actions ul li:hover,.actions ul li:hover > a{
color:#fff;
background-color:#abc;
border-color:#aaa;
}


.actions ul li{
margin:2px;
width:160px;
color:#555;
border:0.5px solid;
border-radius:5px;
padding:5px;
}

.actions h3{
margin-left:40px;
}

.actions{
margin-top:50px;
}

label{
margin-top:15px;
}

.categories fieldset,.contents fieldset{
margin-left:15px;
margin-bottom:100px;
}


.btn-danger{
	margin-top: 10px;
}

blockquote p{
font-size:16px;
margin-top:5px;
}